In [1]:
##20
first_name=input('enter the name: ')
count=len(first_name)
print(count)

enter the name: sachin
6

In [4]:
#21
sur_name=input('enter the sur name: ')
join_name=first_name+''+sur_name
print(len(join_name))

enter the sur name: srimukh
13

In [5]:
sur_name=input('enter the sur name: ')
join_name=first_name+''+sur_name
print(len(join_name))

enter the sur name: chappi
12

In [6]:
sur_name=input('enter the sur name: ')
join_name=first_name+''+sur_name
print(len(join_name),  join_name)

enter the sur name: srimukh
13 sachinsrimukh

In [7]:
first_name+=sur_name

In [8]:
first_name

'sachinsrimukh'

In [9]:
first_name+=' '+sur_name

In [10]:
first_name

'sachinsrimukh srimukh'

In [11]:
len(first_name)

21

In [12]:
##22
name1=input('enter the name1 in lower case: ')
name2=input('enter the name2 in lower case: ')
name1+=' '+name2
name1.title()
print(len(name1) \n name1)

SyntaxError: unexpected character after line continuation character (<ipython-input-12-04cd470cbedd>, line 5)

In [13]:
#22
name1=input('enter the name1 in lower case: ')
name2=input('enter the name2 in lower case: ')
name1+=' '+name2
name1.title()
len(name1)
print(name1)

enter the name1 in lower case: chappi
enter the name2 in lower case: sri
chappi sri

In [14]:
name1

'chappi sri'

In [15]:
name1.title()

'Chappi Sri'

In [21]:
#23
mohan='mary had a little lamp in her home'

In [22]:
mohan[12:18]

'ittle '

In [23]:
##24
word='sachin'
word.upper()

'SACHIN'

In [26]:
#25
firstname=input('enter the first name: ')
if (len(firstname)<5):
    firstname+=sur_name
    firstname.upper()
    print(firstname)
else:
        print(firstname)

enter the first name: sri
srisrimukh

In [27]:
firstname

'srisrimukh'

In [28]:
firstname=input('enter the first name: ')
if (len(firstname)<5):
    firstname+=sur_name
    firstname.upper()
    print(firstname)
else:
        print(firstname)

enter the first name: srimukh
srimukh

In [29]:
firstname

'srimukh'

In [31]:
firstname=input('enter the first name: ')
if (len(firstname)<5):
    firstname+=sur_name
    change_case=firstname.upper()
    print(change_case)
else:
        print(firstname)

enter the first name: sri
SRISRIMUKH

In [32]:
##26
word=input('enter the word: ')
first=word[0]
length=len(word)
rest=word[1:length]
if (first!='a' and first!='e' and first!='i' and first!='o' and first!='u'):
    newword=rest+first+'ay'
else:
    newword=word+'way'
print(newword.lower())

enter the word: arun
arunway

In [33]:
word=input('enter the word: ')
first=word[0]
length=len(word)
rest=word[1:length]
if (first!='a' and first!='e' and first!='i' and first!='o' and first!='u'):
    newword=rest+first+'ay'
else:
    newword=word+'way'
print(newword.lower())

enter the word: sri
risay