In [1]:
#96
simple_list=[[2,5,8],[3,7,4],[1,6,9],[4,2,0]]

In [2]:
#97
row=int(input('enter the row number: '))
column=int(input('enter the column number: '))
simple_list[row][column]

enter the row number: 2
enter the column number: 1

6

In [3]:
#98
row=int(input('enter the row number u wanna display: '))
print(simple_list[row])
value=int(input('enter the new value: '))
simple_list[row].append(value)
print(simple_list[row])

enter the row number u wanna display: 2
[1, 6, 9]
enter the new value: 2
[1, 6, 9, 2]

In [4]:
#99
row=int(input('enter the row number u wanna display: '))
print(simple_list[row])
column=int(input('enter the column number: '))
print(simple_list[row][column])
value=int(input('enter the new value: '))
simple_list[row][column]=value
print(simple_list[row])

enter the row number u wanna display: 2
[1, 6, 9, 2]
enter the column number: 2
9
enter the new value: 12
[1, 6, 12, 2]

In [5]:
#100
sale={'john':{'n':3056,'s':8463,'e':5566,'w':2694},'tom':{'n':3088,'s':7463,'e':4566,'w':1694},'tim':{'n':4056,'s':9463,'e':3566,'w':4694}}

In [6]:
sale

{'john': {'n': 3056, 's': 8463, 'e': 5566, 'w': 2694},
 'tom': {'n': 3088, 's': 7463, 'e': 4566, 'w': 1694},
 'tim': {'n': 4056, 's': 9463, 'e': 3566, 'w': 4694}}

In [7]:
#101
name=input('enter the name u wanna: ')
region=input('enter the region u want: ')
print(sale[name][region])
name=input('enter the name u wanna mke changes: ')
region=input('enter the region u want mke changes: ')
value=int(input('enter the new value: '))
sale[name][region]=value
print(sale[name][region])

enter the name u wanna: tom
enter the region u want: e
4566
enter the name u wanna mke changes: tim
enter the region u want mke changes: s
enter the new value: 6054
6054

In [8]:
name=input('enter the name u wanna: ')
region=input('enter the region u want: ')
print(sale[name][region])
#name=input('enter the name u wanna mke changes: ')
#region=input('enter the region u want mke changes: ')
value=int(input('enter the new value: '))
sale[name][region]=value
print(sale[name][region])
print()
for i in range(0,1):
    print(sale[name]['n'])
    print(sale[name]['s'])
    print(sale[name]['e'])
    print(sale[name]['w'])

enter the name u wanna: john
enter the region u want: s
8463
enter the new value: 1024
1024

3056
1024
5566
2694

In [10]:
#102
bio={'one':{'name':'sachin','shoe':'puma','age':10},'two':{'name':'vinay','shoe':'vkc','age':11},
     'three':{'name':'munna','shoe':'adidas','age':12},'four':{'name':'vivek','shoe':'hrx','age':13}}

In [11]:
bio

{'one': {'name': 'sachin', 'shoe': 'puma', 'age': 10},
 'two': {'name': 'vinay', 'shoe': 'vkc', 'age': 11},
 'three': {'name': 'munna', 'shoe': 'adidas', 'age': 12},
 'four': {'name': 'vivek', 'shoe': 'hrx', 'age': 13}}

In [13]:
#102-2nd part
for i in range(0,1):
    person=input('enter the person: ')
    print(bio[person]['age'])
    print(bio[person]['shoe'])

enter the person: three
12
adidas

In [14]:
#103
print('name', 'age')
for i in bio:
    print(bio[i]['name'],bio[i]['age'])

name age
sachin 10
vinay 11
munna 12
vivek 13

In [15]:
#104
remove=input('enter the name u wanna remove: ')
del bio[remove]
for i in bio:
    print(bio[i]['name'],bio[i]['age'],bio[i]['shoe'])

enter the name u wanna remove: two
sachin 10 puma
munna 12 adidas
vivek 13 hrx